@using Tazaker.Models
@model List<Match>

@{
    ViewBag.Title = "Match List";
    int i = 1;
}

<h2>Match List</h2>

<div class="container mt-5">
    <div class="row">
        @foreach (var match in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@match.Name</h5>
                        <p class="card-text">
                            <img src="/Images/TeamsLogo/@ViewBag.TeamsLogoAndNames["match" + i + "A"]" width="50px" class="rounded-circle" />
                            <span>@ViewBag.TeamsLogoAndNames["Name" + i + "A"]</span>
                            VS
                            <img src="/Images/TeamsLogo/@ViewBag.TeamsLogoAndNames["match" + i + "B"]" width="50px" class="rounded-circle" />
                            <span>@ViewBag.TeamsLogoAndNames["Name" + i + "B"]</span>
                        </p>
                        <p class="card-text">Start Date: @match.StartDate</p>
                        <p class="card-text">End Date: @match.EndDate</p>
                        <p class="card-text">League: @match.League.Name</p>
                        <p class="card-text">Stadium: @ViewBag.Stadiums[i].Name</p>
                        <p class="card-text">Stadium Status: @ViewBag.Stadiums[i].StadiumStatus</p>
                        <a asp-action="Create" asp-controller="Ticket" class="btn btn-primary">Book Ticket</a>
                    </div>
                </div>
            </div>
            i++;
        }

    </div>
</div>
