@model Tazkara.ViewModels.ReservationCartViewModel

@{
    ViewData["Title"] = "Reservation Cart";
}

<h1 class="text-center my-4">Your Reservation Cart</h1>
<a asp-action="Index" asp-controller="Match" class="btn btn-secondary">Back To Matches</a>

@if (Model.ReservationCarts.Any())
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr class="text-light">
                            <th>Match</th>
                            <th>Stadium</th>
                            <th>Location</th>
                            <th>Ticket Count</th>
                            <th>Price per Ticket</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cart in Model.ReservationCarts)
                        {
                            <tr class="text-light">
                                <td>@(cart.Match != null ? cart.Match.Name : "N/A")</td>
                                <td>@(cart.Stadium != null ? cart.Stadium.Name : "N/A")</td>
                                <td>
                        @if (cart.NorthPremiumStandsId != 0)
                        {
                        @cart.Stadium.NorthPremiumStands.Name
                        }
                        else if (cart.EastPremiumStandsId != 0)
                        {
                        @cart.Stadium.EastPremiumStands.Name
                        }
                        else if (cart.EastStandsId != 0)
                        {
                        @cart.Stadium.EastStands.Name
                        }
                        else if (cart.CourtSidesRow3Id != 0)
                        {
                        @cart.Stadium.CourtSidesRow3.Name
                        }
                        </td>
                                <td>@cart.Count</td>
                                <td>@cart.Price.ToString("C")</td>
                                <td>@(cart.Price * cart.Count)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-right">
                    <h4>Total: @Model.Total.ToString("C")</h4>
                </div>
                <div class="text-center mt-4">
                    <a asp-action="#" asp-controller="#" class="btn btn-primary">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center my-4">
        <h4>Your reservation cart is empty.</h4>
        <a asp-action="Index" asp-controller="Match" class="btn btn-secondary">Back to Matches</a>
    </div>
}
